@media screen and (max-width:500px) {
    nav{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .web-title{
            margin-left: 10px;
        }
        .link{
            display: none;
    }
    .icon{
        display: block;
        margin-right: 20px;
        border: 1px solid gray;
        padding: 10px 15px;
        border-radius: 10px;
    }
    } 
}

// @media(max-width:1000px) {
    
//     main{
//         .hisse1{
//             .cart1{
//                 margin: 0 50px;
//                 .title-h1{
//                     h1{
                        
//                     }
//                 }
//             }
//         }
//     }
// }