@media screen and (max-width:700px){
    nav{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .web-title{
            margin-left: 10px;
        }
        .link{
            display: none;
    }
    .icon{
        display: block;
        margin-right: 20px;
        border: 1px solid gray;
        padding: 10px 15px;
        border-radius: 10px;
    }
    }
}
@media screen and (max-width:700px) {
    #services {

        .cart{
           
            .carts{
                display: flex;
                flex-direction: row;

            }
        }
    }
}