#hisse4{
   margin: auto;
    .imgs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
      .photo{
        min-width: 502px;
        height:270px;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            max-width: 100%;

        }
      }
    }
}