* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
nav .web-title h1 {
  text-decoration: none;
  margin-left: 50px;
  color: black;
}
nav .link {
  margin-right: 50px;
}
nav .link ul {
  display: flex;
  gap: 20px;
}
nav .link ul li {
  list-style-type: none;
}
nav .link ul li a {
  text-decoration: none;
  color: black;
}
nav .icon {
  display: none;
}

@media screen and (max-width: 500px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .web-title {
    margin-left: 10px;
  }
  nav .link {
    display: none;
  }
  nav .icon {
    display: block;
    margin-right: 20px;
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 10px;
  }
}
#hisse1 {
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
#hisse1 .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 600px;
}
#hisse1 .cart .title-h1 h1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
}
#hisse1 .cart .paraqraf p {
  color: white;
  font-size: 20px;
}
#hisse1 .cart .button button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: orangered;
  color: white;
  font-size: 20px;
}
#hisse1 .cart hr {
  width: 60px;
  height: 5px;
  background-color: orangered;
}

#hisse2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  min-height: 400px;
}
#hisse2 .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  color: white;
}
#hisse2 .cart .title-h1 h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}
#hisse2 .cart hr {
  width: 70px;
  height: 4px;
  background-color: white;
  margin: 30px;
}
#hisse2 .cart .paraqraf {
  line-height: 1.5;
  font-weight: 200;
}
#hisse2 .cart .button button {
  border-radius: 50px;
  width: 180px;
  height: 60px;
  border: none;
  margin: 30PX;
  font-weight: 700;
}

#hisse3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
#hisse3 .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1250px;
}
#hisse3 .cart .title-h1 h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}
#hisse3 .cart hr {
  width: 60px;
  height: 5px;
  background-color: orangered;
  margin-top: 30px;
  margin-bottom: 70px;
}
#hisse3 .cart .carts {
  display: flex;
  flex-direction: row;
}
#hisse3 .cart .carts .cartx {
  margin: 0 10px;
}
#hisse3 .cart .carts .cartx i {
  color: orangered;
  font-size: 50px;
}
#hisse3 .cart .carts .cartx h2 {
  padding: 10px;
  font-weight: 400;
}
#hisse3 .cart .carts .cartx p {
  color: #6c757d;
}

#hisse4 {
  margin: auto;
}
#hisse4 .imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#hisse4 .imgs .photo {
  min-width: 502px;
  height: 270px;
  overflow: hidden;
  position: relative;
}
#hisse4 .imgs .photo img {
  position: absolute;
  max-width: 100%;
}

#hisse5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 17, 19);
  min-height: 400px;
}
#hisse5 .cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hisse5 .cart .title-h2 h2 {
  color: white;
  padding: 40px 0;
  font-size: calc(1.125rem + 0.9vw);
  font-weight: 400;
}
#hisse5 .cart .button {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  background-color: white;
  width: 200px;
}
#hisse5 .cart .button a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */